# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variables
# *.tfvars
# *.tfvars.json

# Secrets
*.pem
*.key

# OS
.DS_Store
Thumbs.db